<!DOCTYPE html>
<html>
    <head>
        <title>Python 1st Project</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">  
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
        <style>
            #banner{
                width: 100%;
                height: 360px;
                object-fit: cover;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <h1 class="text-center mt-2 mb-4">Welcome to the Home Page!</h1>
             <img class="img-fluid" id="banner" src="https://replit.com/@hectortraverzo2/python-website-1#images/pythonimg.jpeg" height: 320px>
            <h2 class="text-center mt-2 mb-4">About Python Project</h2>
            <p class="lead text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <div>
                <h3 class="text-center mt-2 mb-4">Learning pages</h3>       
                    {% for course in courses %}
                       {% include 'jobitem.html' %}
                    {% endfor %}
            </div>
            
            <div class="d-grid gap-2 col-6 mx-auto">
                   <button class="btn btn-primary" type="button">Contact US</button>
                <p class="mt-4 mb-4">Copyright 2023, Python Project. All Rights Reserved.</p>
            </div>
         </div>
    </body>    
</html>