<div class="border-bottom row" style="margin-top:16px;padding-bottom:8px;">
    <div class="col-10 padding-left">
        <div>
           <h4 style="color:gray; margin-bottom:4px;">{{course['title']}}</h4> 
        </div>
        <div>
            <b>Description: </b>{{course['description']}}
        </div>
        {% if 'price' in course %}
        <div >
            <b>Price: </b>{{course['price']}}
        </div>
        {% endif %}
    </div>
    <div class="col-2 padding-right:16px;">    
        <a href="mailto:hello@test.com?subject=Question%20about%20courses&body=Please%20enter%20your%20question%20here%3A%20%3CEnter%20your%20question%3E%0D%0A%0D%0AThanks%20in%20advance.%0D%0AMe" class="col-3">
        <button type="button" class="btn btn-outline-primary float-right align-middle">Apply</a>
    </div>
</div>
    
