<div class="border-bottom row" style="margin-top:16px;padding-bottom:8px;">
    <div class="col-9">
        <div >
           <h4 style="color:gray; margin-bottom:4px;">{{course['title']}}</h4> 
        </div>
        <div>
            <b>Description: </b>{{course['description']}}
        </div>
        {% if 'price' in course %}
        <div >
            <b>Price: </b>{{course['price']}}
        </div>
        {% endif %}
    </div>
    <div class="col-3">
        <button type="button" class="btn btn-outline-primary">Apply</button>
    </div>
    
</div>